<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>建立比賽</title>
    <link rel="stylesheet" href="/style/main.css">

</head>

<body>
    <div id="app">

        <img src="./background2.jpg" alt="" class="background">
        <v-app>

            <v-container>


                <v-layout>
                    <v-flex md10 offset-md1>
                        <v-card class="mt-4 white">
                            <v-container>

                                <v-card-title primary-title>
                                    <div>

                                        <h3 class="headline mb-0 primary--text">
                                            建立比賽
                                        </h3>
                                        <div>建立一場金頭腦搶答比賽</div>
                                    </div>
                                </v-card-title>

                                <v-divider></v-divider>
                                <v-card-text>
                                    <transition-group name="list">

                                        <template v-if="state==0">

                                            <v-layout key="0">
                                                <v-text-field label="多少隊伍可以參加此比賽" type="number" v-model="count" suffix="組"></v-text-field>
                                            </v-layout>

                                            <v-layout key="1">

                                                <v-btn primary @click="setCount">下一步</v-btn>
                                                <v-btn @click="cancel()">取消</v-btn>
                                            </v-layout>

                                        </template>
                                        <template v-else-if=" state==1 ">
                                            <div key="2 ">
                                                <p>選擇使用下面其中一種登入方法...</p>
                                                <v-layout>

                                                    <v-flex>
                                                        <v-container>
                                                            <h2>您的專屬連結</h2>
                                                            <p>使用這個連結直接開啟編輯介面</p>
                                                            <v-text-field label="連結網址 " :value="location.origin+'/page/member/edit.html?/key/' + this.key" ref='a' readonly @click="select('a') ">
                                                            </v-text-field>
                                                        </v-container>
                                                    </v-flex>
                                                    <v-flex>
                                                        <v-container>

                                                            <h2>您的登入金鑰</h2>
                                                            <p>使用這個金鑰來登入並編輯比賽</p>
                                                            <v-text-field label="專屬金鑰 " v-model="key" ref='b' readonly @click="select('b') "></v-text-field>
                                                        </v-container>
                                                    </v-flex>
                                                </v-layout>
                                                <v-btn primary @click="go() ">繼續建立比賽</v-btn>

                                            </div>
                                        </template>

                                    </transition-group>
                                </v-card-text>


                            </v-container>
                        </v-card>
                    </v-flex>

                </v-layout>

            </v-container>
        </v-app>
    </div>
    <script src="/dist/general.js "></script>
    <script>
        var data = {
            state: 0,
            count: 40,
            key: " ",
            setCount() {
                if (!debug)
                    dog.request('get', '/api/contest/create/' + data.count).then(key => {
                        data.key = key;
                        data.state = 1;
                    })
                else {
                    data.key = 'dev-0-0'
                    data.state = 1;
                }
            },
            select(name) {
                var ele = app.$refs[name].$el.querySelector('input');
                ele.select(0, ele.value.length);
            },
            go() {
                location.href = "/page/member/edit.html?/key/" + this.key;
            },
            cancel() {
                history.go(-1)
            }
        }

        var app = done({
            data
        });

        if (location.href.match('debug')) debug = true;

    </script>
</body>

</html>