<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>解答卷</title>
    <link rel="stylesheet" href="/style/main.css">

</head>
<style>
    .block {
        page-break-inside: avoid;
        padding: 8px;
    }

    .page {
        page-break-after: always;
        padding: 4% 8% 0%;
    }

    h2 {
        margin: 0px;
        font-weight: 100;
    }
</style>

<body>
    <div id="app">


        <div class="page" v-for="round in content.rounds">
            <h1>
                {{round.name}}
            </h1>
            <div class="block" v-for="(problem, i) in round.problems">
                <div>
                    {{i+1}}. ( {{problem.answer.value}} ) ： {{problem.content}}
                    <small>
                        {{problem.score}} 分 / {{problem.timeout}} 秒
                    </small>
                </div>

                <span v-for="choice in problem.choice" style="margin:8px">
                    ( {{choice.value}} ) {{choice.content}}
                </span>
                <br>
                <span v-if="problem.answer.description.length>0">
                    <strong>
                        解析
                    </strong>
                    {{problem.answer.description}}
                </span>
            </div>
        </div>
    </div>
    <script src="/dist/general.js"></script>

    <script>
        var data = {

            key: '',
            content: {},
            debug: false,
            login() {
                dog.request('get', '/api/member/contest/view/key/' + data.key).then(content => {
                    data.content = JSON.parse(content);
                })
            }

        }

        var app = done({
            data,
        });

        var key = dog.key;

        if (key) {
            console.log('has key')
            data.key = key;
            data.login();
        }

        window.data = data;
    </script>
</body>

</html>