<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>比賽投影畫面</title>
    <link rel="stylesheet" href="/style/main.css">
    <script src="/socket.io/socket.io.js"></script>

</head>
<style>
    .center {
        margin: 0px;
        position: relative;
        display: block;
        left: 50%;
        top: 10%;
        text-align: center;
        min-width: 80%;
        transform: translate(-50%, 0)
    }

    .centerleft {
        margin: 0px;
        position: relative;
        display: block;
        left: 330px;
        top: 16px;
        text-align: left;
        min-width: 80%;
        transform: translate(0, 0)
    }

    button {
        transition: all 0.2s;
        font-size: 1em;
        border: none;
        padding: 10px;
        border-radius: 100px;
        margin: 8px;
    }

    button:hover {
        transform: scale(1.2);
    }

    .bb {
        color: orange;
        font-size: 20em;
        margin: 0;
    }

    h1 {
        font-size: 3em;
        margin: 8px;
    }

    h2 {
        font-size: 2.5em;
        margin: 6px;
    }

    h3 {
        font-size: 2em;
        margin: 0px;
    }

    body {
        position: fixed;
        background: #eee;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 微軟正黑體, Arial, Helvetica, sans-serif
    }

    .slide {

        position: fixed;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .back {
        width: 20%;
        height: 100%;
    }

    .main {
        background-color: orange;
    }

    .blob {
        border-radius: 999px;
        padding: 4px;
        margin: 16px;
    }

    .dright {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 99;
    }

    .dleft {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 200px;

    }
</style>

<body>

    <div id="app">

        <transition-group name="list">
            <div class="slide" key="slides" v-if="slides">
                <div class="dleft">
                    <span v-if="content.rounds==null">正在載入...</span>
                    <fbtn v-else main="1" @click.native="go()">開始比賽</fbtn>
                </div>

                <slides></slides>
            </div>
            <template v-if="!slides">

                <!--
                    <span @click="slides=true" key="backtoSlides">
                        <fbtn>比賽規則</fbtn>
                    </span>
                -->



                <div class="slide" :key="'round'+round.no" v-if="page=='round'">



                    <div class="dright">
                        <div>
                            <fbtn r="1" :main="round.no==content.rounds.length-1" @click.native="page='score'">分數結算</fbtn>

                        </div>
                        <fbtn r="1" @click="prevRound()" v-if="hasPrevRound">←倒退</fbtn>
                        <fbtn r="1" main="1" class="main" @click="roundStart()">開始</fbtn>
                        <fbtn r="1" v-if="hasNextRound" @click="nextRound()">跳過→</fbtn>

                    </div>

                    <div class="center">
                        <h1>{{round.title}}</h1>
                        <h2 v-if="round.usebutton">請準備好搶答按鈕</h2>
                        <h3>{{roundc.players}} 隊
                            <template v-if="round.no&lt;content.rounds.length-1">
                                取 {{content.rounds[round.no+1].players}} 隊
                            </template>
                        </h3>


                    </div>
                </div>



                <div class="slide" key="problem" v-if="page=='problem'||page=='racestart'||page=='answer'||page=='answer2'">

                    <!-- button part -->
                    <div class="dright">
                        <template v-if="round.usebutton">
                            <fbtn r="1" main="1" @click="problemStart(3000, 2)">搶答倒數</fbtn>
                            <fbtn r="1" :class="{main:races.length>0}" @click="answer(2)">答案揭曉</fbtn>
                            <!-- answer button for 搶答 -->
                        </template>
                        <template v-else>
                            <fbtn r="1" main="1" @click="problemStart(0, 1)" v-if="racestart==-1">開始作答</fbtn>
                            <template v-if="racestart==0">
                                <fbtn r="1" :main="races.length>0" @click="answer(1)">答案揭曉</fbtn>
                                <!-- answer button for 選擇題 -->
                            </template>

                        </template>
                        <template v-if="page=='answer'">
                            <fbtn r="1" main="1" v-if="hasNextProblem" @click="nextProblem()">下一題</fbtn>
                            <fbtn r="1" main="1" v-else-if="hasNextRound" @click="nextRound()">下一輪</fbtn>
                        </template>
                        <fbtn r="1" @click="goRound()">返回場次</fbtn>
                    </div>

                    <!-- content part -->
                    <div class="centerleft" style="max-width:800px;">
                        <h1>
                            <small style="color:gray"> 第{{problem.no+1}}題</small>
                            <small style="color:orange">{{problem.score}}分</small>
                        </h1>
                        <h1>

                            {{lineBreakFixer(problem.content)}}
                        </h1>

                        <transition-group name="list">
                            <h2 key="answertitle" v-if="page=='answer'" style="color:green">正確答案：</h2>
                            <template v-for="(c, i) in problem.choice">
                                <h2 style="display:inline-block; margin:16px; position:relative" :key="i+':'+problem.no" v-if="problemc.answer.value.indexOf(c.value)!=-1||page!='answer'">
                                    <table>
                                        <tr>
                                            <td :style="{
                                                width: '64px',
                                                height: '64px',
                                                borderRadius: '64px',
                                                backgroundColor: ['red','orange','green','blue','purple','brown'][i]||'black'
                                            }">
                                                <h2>
                                                    {{c.value}}
                                                </h2>
                                            </td>
                                            <td style="text-align:left; background-color:transparent; color:black">
                                                <h2>
                                                    {{lineBreakFixer(c.content)}}
                                                </h2>
                                            </td>
                                        </tr>
                                    </table>
                                </h2>
                            </template>

                            <template v-if="page=='answer'">
                                <hr key="hr">
                                <template v-for="(c, i) in problem.choice">
                                    <h3 style="display:inline-block; margin:16px; position:relative" :key="i+':'+problem.no" v-if="problemc.answer.value.indexOf(c.value)==-1">
                                        <cir w="32px" c="white" bc="gray">
                                            {{c.value}}
                                        </cir>
                                        {{lineBreakFixer(c.content)}}
                                    </h3>
                                </template>
                            </template>

                        </transition-group>
                        <hr>

                        <!-- 解析 -->
                        <template v-if="page=='answer'">
                            <h3 style="color:orange">解析</h3>

                            <h3>{{lineBreakFixer(problemc.answer.description)}}</h3>
                            <template v-if="!round.usebutton">
                                <h2>
                                    答對人數{{answerResult.filter(x=>x.correct).length}}/{{answerResult.length}}
                                </h2>
                            </template>
                        </template>

                        <!-- 搶答器 -->
                        <template v-if="round.usebutton&amp;&amp;page!='answer'">
                            <template v-if="racestart!=0||races.length==0">
                                <h1 v-if="racestart>0" class="bb">{{racestart/1000}}</h1>
                                <h1 v-if="racestart==0" class="bb" style="color:lightGreen">GO</h1>
                            </template>

                            <!-- race teams -->
                            <div v-if="racestart==0">
                                <template v-if="page!='answer2'">
                                    <h3 v-for="(r,i) in races.slice(0,4)">
                                        第 {{i+1}} 位：
                                        <button :class="{main:i==0}" @click="answerTeam=r; page='answer2'">
                                            第{{r.no+1}}組
                                        </button>
                                        <small> 速度 {{r.time}} ms</small>
                                    </h3>
                                </template>
                                <!-- 回答 -->
                                <template v-else>
                                    <h2>
                                        第{{answerTeam.no+1}}組
                                        <small style="color:orange">請回答</small>
                                    </h2>
                                    <hr>
                                    <h2>
                                        <button style="background:green; color:white" @click="answerCorrect(answerTeam.no)">
                                            正解
                                        </button>
                                        <button style="background:red; color:white" @click="page='problem'">
                                            錯誤
                                        </button>
                                    </h2>
                                </template>
                            </div>



                        </template>

                        <template v-else-if="page=='racestart'">
                            <h2>
                                {{Math.floor(problemc.timeout - problemTime/1000)}}
                                <small>
                                    . {{((problemc.timeout - problemTime/1000)%1).toString().substr(2,1)}} 秒
                                </small>
                                <span style="margin-left:16px">
                                    {{races.length}} / {{players.length}} 組已作答
                                </span>
                            </h2>
                        </template>

                    </div>
                </div>

                <!--
                <div class="slide" key="answer2" v-if="page=='answer2'">

                    <div class="center" style="max-width:800px">
                        <h1>
                            <small style="color:gray"> 第{{problem.no+1}}題</small>
                            {{problem.title}}
                            <small style="color:orange">{{problem.score}}分</small>
                        </h1>
                        <h3>{{problem.content}}</h3>
                        <template v-for="(c, i) in problem.choice">
                            <h2 style="display:inline-block; margin:32px">
                                <cir w="64px" c="white" :bc="['red','orange','green','blue'][i]||'black'">
                                    {{c.value}}
                                </cir>
                                {{c.content}}
                            </h2>
                        </template>

                        <hr>
                        <h2>
                            第{{answerTeam.no+1}}組
                            <small style="color:orange">請回答</small>
                        </h2>
                        <hr>
                        <h2>
                            <button style="background:green; color:white" @click="answerCorrect(answerTeam.no)">
                                正解
                            </button>
                            <button style="background:red; color:white" @click="page='problem'">
                                錯誤
                            </button>
                        </h2>
                    </div>

                </div>

                
                <div class="slide" key="answer" v-if="page=='answer'">
                    <div class="dright">
                        <fbtn r="1" main="1" v-if="hasNextProblem" @click="nextProblem()">下一題</fbtn>
                        <fbtn r="1" main="1" v-else-if="hasNextRound" @click="nextRound()">下一輪</fbtn>
                        <fbtn r="1" @click="goRound()">返回場次</fbtn>
                    </div>

                    <div class="center" style="max-width:800px">

                        <h3>
                            {{problemc.content}}
                        </h3>
                        <h1>正解
                            <cir v-if="problemc.answer.value!=''" w="128px" bc="green" c="white">{{problemc.answer.value}}</cir>
                        </h1>
                        <h3>{{problemc.answer.description}}</h3>

                        <h3>{{problemc.content}}</h3>
                        <h2>
                            {{problemc.answer.description}}
                        </h2>
                        <br> 答對人數{{answer.filter(x=>x.correct).length}}/{{answer.length}}

                    </div>
                </div>
            -->


                <div class="slide" key="answer" v-if="page=='score'">

                    <div class="center">
                        <button @click="goRound()">返回場次</button>
                        <table style="position:relative; left:50%; transform:translate(-50%,0)">
                            <thead>
                                <tr>
                                    <td rowspan="2">
                                        <h3>隊伍</h3>
                                    </td>
                                    <td rowspan="2">
                                        <h3>總分</h3>
                                    </td>

                                    <template v-for="round in content.rounds">
                                        <td colspan="2">
                                            <h3>
                                                {{round.name}}
                                            </h3>
                                        </td>
                                    </template>
                                </tr>
                                <tr>
                                    <template v-for="round in content.rounds">
                                        <td>
                                            得分
                                        </td>
                                        <td>
                                            時間
                                        </td>
                                    </template>
                                </tr>
                            </thead>
                            <template v-for="(team,i) in rank.all">
                                <tr :class="{
                                    first: team.rank==0,
                                    second: team.rank==1,
                                    third: team.rank==2,
                                    same: team.type==1,
                                    out: team.round&lt;round
                                }">
                                    <td class="number" style="width:auto; font-size:1em">
                                        <h2>
                                            {{team.name}}
                                        </h2>
                                    </td>
                                    <td>
                                        <h2>
                                            {{team.score}} 分
                                        </h2>
                                    </td>
                                    <template v-for="(round,no) in content.rounds">
                                        <template v-if="team.round>=no">

                                            <td>
                                                {{isNaN(team.scores[no])?'':team.scores[no]+' 分'}}
                                            </td>
                                            <td>
                                                {{isNaN(team.time[no])?'':Math.round(team.time[no])+' ms'}}
                                            </td>
                                        </template>
                                    </template>
                                </tr>

                            </template>
                        </table>
                    </div>


                </div>

                <!--
                <div class="slide back" key="background">
                    <div class="center" v-if="page=='problem'||page=='racestart'">
                        <br>
                        <h1 v-if="racestart>0" class="bb">{{racestart/1000}}</h1>
                        <h1 v-if="racestart==0" class="bb" style="color:lightGreen">GO</h1>
                    </div>
                </div>
            -->
                <div class="slide back" key="background" style="overflow:hidden">
                    <score :teams="rank.all" :round="round.no" :debug="debug" v-if="page!='score'"></score>
                </div>
            </template>

        </transition-group>
    </div>

    <script src=" /dist/play.js "></script>
    <script>

    </script>
</body>

</html>