.list-enter-active {
  transition: all 1s  cubic-bezier(0.4, 0.0, 0.2, 1);
}
.list-leave-active {
  transition: all 0.5s cubic-bezier(0.4, 0.0, 1, 1);
  position: absolute;
  z-index: -1;
}


.list-enter {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.list-move {
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}