<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>圖書室搶答系統</title>
</head>

<body>
	<div id="app">
		<v-container>

			<p>組別:{{state.team}}</p>
			<v-layout row>

				<v-flex xs6 sm3>
					<v-card-title primary-title>
						<transition-group name="list" tag="div">

							<template v-for="team in state.teams" v-if="team.online">

								<div :key="team.no">
									{{team.name}}
									<v-chip>{{team.score}} 分</v-chip>
								</div>

							</template>

							<hr key="divider"></hr>

							<template v-for="team in state.teams" v-if="!team.online">

								<div :key="team.no">
									{{team.name}}
									<v-chip v-if="team.online" class="green">on</v-chip>
									<v-chip>{{team.score}} 分</v-chip>
								</div>

							</template>

						</transition-group>
					</v-card-title>

				</v-flex>

				<v-flex xs6 sm9>
					<div class="headline">Unlimited music now</div>

					<div>{{problem.title}}</div>
					<v-chip>{{problem.score}}分</v-chip>
					<template v-for="problem.choice">

					</template>
					{{problem}}
				</v-flex>

			</v-layout>
		</v-container>
	</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/dist/socketTest.js"></script>

</html>