<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>圖書室搶答系統</title>
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<div id="app">
		<v-container>

			<p v-if="state.team>=0">組別:{{state.teams[state.team].name}}</p>
			<v-layout row>

				<v-flex xs6 sm3>
					<v-card-title primary-title>
						<transition-group name="list" tag="div">

							<template v-for="team in state.teams" v-if="team.online">

								<div :key="team.no">
									<v-chip class="green text--white">{{team.name}} {{team.score}} 分</v-chip>
								</div>

							</template>

							<hr key="divider"></hr>

							<template v-for="team in state.teams" v-if="!team.online">

								<div :key="team.no">

									<v-chip>{{team.name}} {{team.score}} 分</v-chip>
								</div>

							</template>

						</transition-group>
					</v-card-title>

				</v-flex>

				<v-flex xs6 sm9>
					<template>
						<div class="headline">Info</div>
						<div>{{info}}</div>
					</template>



					<div class="headline">Round</div>
					<p>{{round.no}}</p>
					<h6>{{round.title}}</h6>
					<p>usebutton?</p>
					<p>{{round.usebutton}}</p>

					<v-btn primary @click="socket.emit('round', 0)">
						0
					</v-btn>
					<v-btn primary @click="socket.emit('round', 1)">
						1
					</v-btn>



					<div class="headline">Problem</div>
					<v-btn @click="socket.emit('problem', 0)">
						set 0
					</v-btn>
					<div>{{problem.title}} {{problem.score}}分</div>

					<template v-for="choice in problem.choice">
						<v-chip @click="socket.emit('race', choice.value)">
							<v-avatar class="teal">{{choice.value}}</v-avatar>
							{{choice.content}}
						</v-chip>
					</template>

					<div class="headline">Race {{racestart}}</div>

					<v-btn primary @click="socket.emit('race')">
						race
					</v-btn>
					<v-btn @click="socket.emit('startrace', 5000)">
						5
					</v-btn>
					<v-btn @click="socket.emit('startrace', 2000)">
						2
					</v-btn>
					<v-btn @click="socket.emit('startrace', 1000)">
						1
					</v-btn>
					<v-btn @click="socket.emit('startrace', 0)">
						0
					</v-btn>

					<div>

						<template v-for="(r, i) in race">
							<v-chip :key="i">
								<v-avatar class="teal">{{i}}</v-avatar>
								{{state.teams[r.no].name}} : {{r.answer}}

							</v-chip>
						</template>

					</div>

				</v-flex>

			</v-layout>
		</v-container>
	</div>
</body>
<script src="/dist/socketTest.js"></script>

</html>